.outerContain{
    background-image: url(VrBg.jpg);
    background-size: cover;
   
    margin: auto;
    height: 100vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
    
}

.container{

    height: 100vh;
    width: 100vw;
}

*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}

.innerContain{
    height: 40vh;
    width: 100%;
    
   
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}

.headinghai{
    text-align:left;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bolder;
    color: purple;
    font-family: 'Times New Roman', Times, serif;
}

.parahai{
    font-size: 20px;
    margin-left: 10px;
    
    
    font-family: serif;
}

.buttonhai{
    display: block;
   
    background-color: aliceblue;
    border: 0px;
    height: 50px;
    font-size: 20px;
    width: 150px;
    
    border-radius: 15px;
}

.buttonhai2{
    display: block;
    
    background-color: purple;
    border: 0px;
    height: 50px;
    font-size: 20px;
    color: white;
    width: 150px;
    
    border-radius: 15px;
}

.buttonContainer{
    display: flex;
    
    justify-content: space-evenly;
}