.outerContain{
    background-image: url(FoodBg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
    margin: auto;
    display: flex;
    
    align-items: end;
    
    
}

*{
    padding: 0;
    margin: 0;    
}

.innerContain{
    height: 33vh;
    width: 100%;
    
   
    background-color: antiquewhite;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items:stretch;
}

.headinghai{
    text-align:left;
    margin-left: 9px;
    margin-top: 18px;
    font-weight: bolder;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.parahai{
    font-size: 20px;
    margin: 9px;
    margin-bottom: 0px;
    font-family: serif;
}

.buttonhai{
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 0px;
    height: 50px;
    font-size: 20px;
    width: 150px;
    margin: auto;
    border-radius: 15px;
}