@media (max-width:422px) {
    *{
        padding: 0%;
        margin: 0%;
    
    }
    
    .container{
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        background-color: rgb(30, 2, 57);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        
    
    }
    
    .box1{
        height: 35%;
        width: 100%;
        
        background-image: url(desk.jpg);
        background-size: cover;
    }
    
    .box2{
        height: 69%;
        width: 100%;

    }

    .box2-inside{
        width: 95%;
        margin: auto;
        background-color: white;
        height: 70%;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    h3{
        margin-top: 20px;
        font-size: 27px;
        margin-bottom: 15px;
        color: white;
        margin-left: 15px;
    }

    .box2-inside-rows{
        height: 30%;
        width: 95%;
        border-radius: 10px;
        
        display: flex;
        align-items: center;
        color: black;

    }

    .box2-inside-rows img{
        height: 70px;
    }
    
    .box2-inside-rows p{
        font-size: 15px;
        color: rgba(0, 0, 0, 0.57);
    }

    h4{
        margin-bottom: 5px;
    }

    .inside-content{
        margin-left: 10px;
    }

}

@media (min-width:423px) {
    .container{
        display: flex;
        height: 100vh;
        width: 100vw;
        background-color: rgb(30, 2, 57);
    }

    .box1{
        width: 40%;
        background-image: url(desk.jpg);
        background-size: cover;
    }

    *{
        padding: 0%;
        margin: 0%;
    }
    
    .box2-inside-rows img{
        height: 90px;
    }

    .box2{
        height: 100%;
        width: 55%;
        margin: auto;
        display: flex;
        padding: 30px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        
    }

    .box2-inside{
        margin-top: 20px;
        
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 25px;
    }

    .box2-inside-rows{
        height: 30%;
        display: flex;
        padding: 20px 0 20px 0;
    }
    .box2 h3{
        font-size: 30px;
        color: white;
        
    }

    .inside-content{
        margin-left: 19px;
    }

    .inside-content h4{
        margin-bottom: 10px;
    }

}

