*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    height: 100vh;
    width: 30vw;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box1{
    display: flex;
    justify-content: space-between;
    height: 17%;
    
}

.box1-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin-left: 10px;

    height: 100%;
    width: 65%;
    
}

.btn{
    background-color: rgba(74, 128, 254, 0.841);
    height: 40%;
    color: white;
    border: none;
    border-radius: 10px;
}

.box1-right img{
    background-size: cover;
    height: 80px;
    margin-right: 16px;
    
}

.box1-left button{
    width: 50%;
}

.box2{
    width: 98%;
    background-color: rgba(130, 130, 130, 0.127);
    height: 20%;
    display: flex;

    
    margin: 1px 1px 1px 1px;
    border-radius: 10px;
}

.box2 img{
    height: 100%;
}

.covid-info{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;

}

.covid-info p{
    margin-top: 10px;
    font-size: 10px;
}

.covid-info h1{
    margin-top: 10px;
}

.box3{
    width: 100%;
    height: 22%;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box3-inside{
    height: 90px;
    width: 90px;
    background-color: blue;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    color: white;
}

.inside1{
    background-color: lightgreen;
    
}

.inside2{
    background-color: rgb(244, 100, 124);
}

.inside3{
    background-color: rgb(173, 68, 173);
}

.imgg{
    height: 70%;
}

.box4{
    height: 27%;
    background-color: rgba(252, 126, 126, 0.545);
    width: 95%;
    border-radius: 10px;
    display: flex;
    margin-bottom: 5px;
}

.imggg{width: 100%;}

.box4-left{
    width: 40%;
}

.box4-right{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.btn-2{
    background-color: rgba(74, 128, 254, 0.841);
    height: 25%;
    color: white;
    border: none;
    width: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
